{% extends "base.html" %}

{% load staticfiles %} 

{% load static %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'register_page/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> 
{% endblock css %} 

{% block content %}
  <div class="py-5">
    <div class="container">
          <div class="card">
            <div class="card-body p-5">
              <h3 class="pb-3"> <span class="blue">Membuat </span><span class="red">Polling </span>Biasa</h3>
              {% if flag %}
              <h3 class="error-message">URL Polling is exists. Please try again.</h3>
              {% endif %}
              <form id="form_poll_biasa" method="POST">
                <div class="form-group">
                    <textarea class="register-input" rows="4" cols="50" placeholder="deskripsi ..." id="deskripsi" type="text" required="required" name="deskripsi"></textarea> 
                </div>
                <div class="form-group">
                  <textarea class="register-input"  placeholder="url ... (ex: /polling/(number)" id="url_poll" type="text" required="required" name="url_poll"></textarea> 
              </div>
                <div class="form-group">
                  <input class="register-input" type="text" placeholder="masukkan waktu mulai ..." required="required"  onfocus="(this.type='date')"
                  onblur="(this.type='text')" name="time_start"> </div>
                <div class="form-group">
                  <input type="text" class="register-input" placeholder="masukkan waktu selesai ..." required="required"  onfocus="(this.type='date')"
                  onblur="(this.type='text')" name="time_end"> </div>
                <!-- <div class="form-group" id="pertanyaan_polls">
                  <input type="text" class="register-input" placeholder="pertanyaan ..." id="pertanyaan" required="required"> </div> -->
                <div class="form-group" id="jawaban_polls">
                  <input type="text" class="register-input" placeholder="jawaban ..." id="polling-1" required="required" name="polling-1">
                  <input type="text" class="register-input" placeholder="jawaban ..." id="polling-2" required="required" name="polling-2">
                </div>
                <button type="button" id ="add-button" class="btn btn-primary btn-block">Tambah Jawaban</button>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
    </div>
  </div>
{% endblock content %} 

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    const MAX = 5;
    let x = 3;
    $("#add-button").click(function(e) {
      e.preventDefault();
      if ( x < MAX) {
        const currPoll = "polling-" + x;
        $("#jawaban_polls").append('<input type="text" class="register-input" placeholder="jawaban ..." id="'+currPoll+'" required="required" name="'+currPoll+'">');
        x++;
      } else {
      alert('You have reached max answer');
    }
  });
  });
</script>
{% endblock js %}