{% extends "base.html" %} {% load staticfiles %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'register_page/css/style.css' %}"> {% endblock css %} {% block content %}
<div class="container">
    <div class="register-container">
        <h1>Register</h1>
        <h3 class="error-message hidden" id="registration-error-message">Data yang dimasukkan salah</h3>
        <div class="form-container">
            <form id="registration-form" method="POST">
                {% csrf_token %}
                <select name="role" class="register-input" id="role-input">
                    <option value="" selected disabled>Role</option>
                    <option value="mahasiswa">Mahasiswa</option>
                    <option value="staf">Staf</option>
                    <option value="dosen">Dosen</option>
                </select>
                <input required name="username" class="register-input" placeholder="Username" />
                <input required name="password" class="register-input" placeholder="Password" type="password" />
                <input required name="id_number" class="register-input" placeholder="NPM/NIK" />
                <input required name="name" class="register-input" placeholder="Nama" />
                <input required name="birthplace" class="register-input" placeholder="Tempat Lahir" />
                <input required name="birthdate" class="register-input" placeholder="Tanggal Lahir" type="text" onfocus="(this.type='date')"
                    onblur="(this.type='text')" />
                <input required name="email" class="register-input" placeholder="Email" type="email" />
                <input required name="phone_number" class="register-input" placeholder="Nomor HP" />
                <input required name="university_id" class="register-input" placeholder="ID Universitas" />
                <input name="student_status" class="register-input hidden" placeholder="Status Kemahasiswaan" id="status-kemahasiswaan" />
                <input name="jurusan" class="register-input hidden" placeholder="Jurusan" id="jurusan" />
                <input name="jabatan" class="register-input hidden" placeholder="Jabatan" id="jabatan" />
                <!-- <input class="register-submit" type="submit" /> -->
            </form>
        </div>
        <button id="submit-registration" class="register-submit">Submit</button>
    </div>
</div>
{% endblock content %} {% block js %}
<script>
    var role_input = $("#role-input");

    role_input.click(function () {
        var value = role_input.val();

        if (value === 'mahasiswa') {
            $("#status-kemahasiswaan").removeClass("hidden");
            $("#jurusan").addClass("hidden");
            $("#jabatan").addClass("hidden");
        } else if (value === 'staf') {
            $("#status-kemahasiswaan").addClass("hidden");
            $("#jurusan").addClass("hidden");
            $("#jabatan").removeClass("hidden");
        } else if (value == 'dosen') {
            $("#status-kemahasiswaan").addClass("hidden");
            $("#jurusan").removeClass("hidden");
            $("#jabatan").addClass("hidden");
        }
    })

    $("#submit-registration").click(function () {
        var formData = $("#registration-form").serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});

        $.ajax({
            url: "{% url 'validate-registration-data' %}",
            method: "POST",
            data: formData,
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    $("#registration-form").submit();
                } else {
                    var errorMessage = $("#registration-error-message");
                    errorMessage.text(data.error);
                    errorMessage.removeClass('hidden');
                }
            }
        })
    });
</script> {% endblock js %}