{% extends "base.html" %} {% load staticfiles %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'register_page/css/style.css' %}"> {% endblock css %} {% block content %}
<div class="container">
    <div class="register-container">
        <h1>Login</h1>
        {% if form.errors %}
        <h3 class="error-message">Username/password didn't match. Please try again.</h3>
        {% endif %}
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <input class="register-input" name="username" placeholder="Username" />
                <input class="register-input" name="password" placeholder="Password" type="password" />
                <input class="register-submit" type="submit" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}