.news-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.news-tag > a {
    margin: 0 1rem;
    font-size: 1.05rem;
    font-family: 'Open Sans', serif;
    color: #505050;
    text-decoration: none;
}

.news-tag > a:hover {
    color: #96281B;
    transition: color 0.5s;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news-block {
    display: inline-block;
    width: 60%;
    margin: 1.25rem 0;
    display: flex;
    justify-content: space-between;
}

.news-block > img {
    max-height: 7.5rem;

}

.news-title {
    margin: 0;
}

.news-title a {
    text-decoration: none;
    color: black;
}

.news-description,
.news-post-date,
.news-author {
    font-family: 'Open Sans', serif;
}

.news-description {
    color: #a9a9a9;
    margin: 0.3rem 0 1.5rem;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 3rem;
}

.news-author,
.news-post-date {
    margin: 0;
    color: #292929;
}

.news-post-date {
    font-size: 0.9rem;
}

.poll-container{
    width : 100%;
}