{% extends "base.html" %}
{% block content %}
{% load static %}
{% block css %}
{% endblock css %}
<head>
    <meta charset="utf-8">
    <meta name="description" content="Profil">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" type="text/css" href="{% static 'daftar_berita/css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'register_page/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> 
    <!-- Credits to Asel -->
    {% block style %}
    {% endblock %}
</head>
<div class="container">
    {% for berita in beritas %}
        <div class="news-block">
            <div>
                <h2 class="news-title"><a href="{{ berita.0.url }}">{{ berita.0.judul | title }}</a></h2>
                <h4 class="news-description">{{ berita.1.konten | truncatechars:250 }}</h4>
                <h4 class="news-author">Rating : {{ berita.0.rerata_rating }}</h4>
                <h4 class="news-post-date">{{ berita.0.created_at }}</h4>
            </div>
            <img src="{% static "daftar_berita/image/no-image.png" %}" id="image"/>
        </div>    
    {% endfor %}
</div>
<button type="submit" class="btn btn-primary">Tambah Berita</button>
{% endblock %}
