<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% block css %}{% endblock css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <style>
        * {
            box-sizing: border-box;
            font-family: 'Playfair Display', serif;
        }

        body {
            padding: 0 20rem;
            position: relative;
        }

        header {
            padding: 0.5rem 0rem 1.25rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #a9a9a9;
        }

        header>h1 {
            color: #292929;
            margin: 0;
            padding: 0;
            font-weight: 700;
            font-size: 2.25rem;
        }

        header>.login-button {
            position: absolute;
            right: 1rem;
            top: 35%;
            font-size: 1.2rem;
            cursor: pointer;
            user-select: none;
        }

        header>.login-button>a {
            text-decoration: none;
            color: black;
        }

        header>h1>a {
            text-decoration: none;
            color: black;
        }

        .blue {
            color: #013243;
        }

        .red {
            color: #96281B
        }

        .login-popup {
            display: none;
            background: white;
            position: absolute;
            top: 4rem;
            right: 20%;
            padding: 1rem 1.5rem;
            border: 1px solid #a9a9a9;
            border-radius: 0.3rem;
        }

        .login-popup>a {
            color: #292929;
            text-decoration: none;
            display: block;
            margin: 0.5rem 0;
        }

        .show {
            display: block;
        }
    </style>
    <header>
        <h1>
            <a href="{% url 'homepage' %}">
                <span class="blue">Biru</span>
                <span class="red">Merah</span> News</a>
        </h1>
        {% if user and user.is_anonymous %}
        <div class="login-button">
            <a href="{% url 'login-page' %}">Login</a> /
            <a href="{% url 'register-page' %}">Register</a>
        </div>
        {% endif %} {% if user and not user.is_anonymous %}
        <div id="navbar-button" class="login-button">logged in as {{ user.username }}</div>
        {% endif %}
    </header>
    <div id="login-popup" class="login-popup">
        <a href="{% url 'profil' %}">Profil</a>
        <a href="{% url 'form_berita' %}">Buat Berita</a>
        <a href="{% url 'daftar_polling' %}">Daftar Polling</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% block content %}{% endblock content %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script> {% block js %}{% endblock js %}
    <script>
        $("#navbar-button").click(function () {
            $("#login-popup").toggleClass("show");
        });
    </script>
</body>

</html>