{% extends "base.html" %}

{% load staticfiles %} 

{% load static %} 

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'register_page/css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> 
{% endblock css %} 

{% block content %}
<div class="py-5">
  <div class="container">
    <div class="card">
      <div class="card-body p-5">
        <form id="form_berita" method="POST">
          <h3 class="pb-1"> <span class="blue">Tambah </span>  <span class="red">Berita</span></h3>
          <div class="form-group">
            <input class="register-input" placeholder="masukkan judul ..." id="judul_berita" name="judul_berita"> </div>
          <!-- <div class="form-group">
            <input type="text" class="register-input" placeholder="masukkan url ..." id="url_berita"> </div> -->
          <div class="form-group">
            <input type="text" class="register-input" placeholder="masukkan topik ..." id="topik_berita" name="topik_berita"> </div>
          <div class="form-group">
            <textarea class="register-input" rows="4" cols="50" placeholder="masukkan berita ..." id="isi_berita " type="text" name="isi_berita"></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="register-input" placeholder="masukkan tag ... (ex:tag1,tag2,tag3)" id="tag_berita" name="tag_berita"> </div>
          <button type="submit" id="submit-registration" class="register-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
