{% extends "base.html" %}
{% block content %}
{% load static %}
{% block css %}
{% endblock css %}
<head>
    <meta charset="utf-8">
    <meta name="description" content="Profil">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" type="text/css" href="{% static 'daftar_polling/css/polls.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'register_page/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> 
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> 
    <!-- Credits to Asel -->
    {% block style %}
    {% endblock %}
</head>
<div class="container">
    {% for poll in polls %}
        <div class="polls-block">
            {% for poll_biasa in poll.0 %}
                <div>   
                    <h4 class="polls-description"><a href="{{ poll_biasa.url }}"></a>{{ poll_biasa.deskripsi | truncatechars:250 }}</h4>
                    <form method='POST'>
                        {% csrf_token %}
                        {% for jawaban in poll.2 %}
                            <input type="radio" name="answer" value={{ jawaban.jawaban }}>{{ jawaban.jawaban }}</br>
                        {% endfor %}
                        <input type="text" name="id_polling" value= {{poll.1.id}} class="hidden">
                        <button>Submit</button>
                    </form>
                    <h4 class="polls-post-date">{{ poll.1.polling_start }}</h4>
                </div>
            {% endfor %}
        </div>    
    {% endfor %}
</div>
<a href="/polling_berita"><button type="submit" class="btn btn-primary">Tambah Polling Berita</button></a>
<a href="/polling_biasa"> <button type="submit" class="btn btn-primary">Tambah Polling</button> </a>
{% endblock %}
