.container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.register-container {
    text-align: center;
    width: 100%;
}

.register-container > h1 {
    margin: 0 0 1rem 0;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.register-input {
    display: block;
    margin: 0 0 0.75rem 0;
    width: 30rem;
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    font-size: 0.9rem;
    background: none;
}

.register-submit {
    background: none;
    border: none;
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #a9a9a9;
}

.register-submit:hover {
    background: #a9a9a9;
    color: #292929;
    transition: background 0.5s, color 0.5s;
}

.hidden {
    display: none;
}

.error-message {
    color: red;
}