.polls-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.polls-tag > a {
    margin: 0 1rem;
    font-size: 1.05rem;
    font-family: 'Open Sans', serif;
    color: #505050;
    text-decoration: none;
}

.polls-tag > a:hover {
    color: #96281B;
    transition: color 0.5s;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.polls-block {
    display: inline-block;
    width: 60%;
    margin: 1.25rem 0;
    display: flex;
    justify-content: space-between;
}

.polls-block > img {
    max-height: 7.5rem;

}

.polls-title {
    margin: 0;
}

.polls-question,
.polls-post-date,
.polls-author {
    font-family: 'Open Sans', serif;
}

.polls-question {
    color: #a9a9a9;
    margin: 0.3rem 0 1.5rem;
    font-weight: 100;
}

.polls-author,
.polls-post-date {
    margin: 0;
    color: #292929;
}

.polls-post-date {
    font-size: 0.9rem;
}

.hidden {
    display: none;
}