{% extends "base.html" %} 

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/style.css' %}">
{% endblock css %}

{% block content %}
<div class="news-tag">
    {% for tag in tags %}
        <a href="/tag/{{ tag.tag }}">{{ tag.tag | title }}</a>
    {% endfor %}
</div>
<div class="container">
    {% for berita in beritas %}
        <div class="news-block">
            <div>
                <h2 class="news-title"><a href="{{ berita.0.url }}">{{ berita.0.judul | title }}</a></h2>
                <h4 class="news-description">{{ berita.1.konten | truncatechars:250 }}</h4>
                <h4 class="news-author">Rating : {{ berita.0.rerata_rating }}</h4>
                <h4 class="news-post-date">{{ berita.0.created_at }}</h4>
            </div>
            <img src="https://picsum.photos/500/300/?image={{ berita.2 }}"/>
        </div>    
    {% endfor %}
</div>
{% endblock content %}