.rata-tengah {
    text-align: center;
    margin: 20px;
}

td, th {
    border: 1px;
    text-align: left;
    padding: 8px;
}

img {
    size: 30px;
}

table {
    text-align: center;
    width: 100%;
}

.rata-kanan {
    text-align: right;
}