{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
   <meta charset="utf-8">
   <meta name="description" content="Profil">
   <meta name="author" content="{{author}}">
   <link rel="stylesheet" type="text/css" href="{% static 'profil/css/profil.css' %}">
   {% block style %}
   {% endblock %}
</head>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> Profil </h1>
            </div>
            <img src="{% static "profil/image/profil-pic.png" %}" id="photo" />
            {% for profile in profil %}
                <table>
                    <tr>
                        <td class="rata-kanan">Role</td>
                        <td>: {{  role  }}</td>
                    </tr>
                    <tr>
                        <td class="rata-kanan">Username</td>
                        <td>: {{  username  }}</td>
                    </tr>
                        {% for roleatt in roleattr %}
                            {% if role == "Mahasiswa" %}
                                <tr>
                                    <td class="rata-kanan">Nomor Identitas</td>
                                    <td>: {{  roleatt.npm  }}</td>
                                </tr>
                                <tr>
                                    <td class="rata-kanan">Status Kemahasiswaan</td>
                                    <td>: {{  roleatt.status  }}</td>
                                </tr>
                            {% else %}
                                {% if role == "Staf" %}
                                    <tr>
                                        <td class="rata-kanan">Nomor Identitas</td>
                                        <td>: {{  roleatt.nik_staf  }}</td>
                                    </tr>
                                {% elif role == "Dosen" %}
                                    <tr>
                                        <td class="rata-kanan">Nomor Identitas</td>
                                        <td>: {{  roleatt.nik_dosen  }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="rata-kanan">ID Universitas</td>
                                    <td>: {{  profile.id_universitas  }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    <tr>
                        <td class="rata-kanan">Nama</td>
                        <td>: {{  profile.nama  }}</td>
                    </tr>
                    <tr>
                        <td class="rata-kanan">Tempat Lahir</td>
                        <td>: {{  profile.tempat  }}</td>
                    </tr>
                    <tr>
                        <td class="rata-kanan">Email</td>
                        <td>: {{  profile.email  }}</td>
                    </tr>
                    <tr>
                        <td class="rata-kanan">Nomor HP</td>
                        <td>: {{  profile.no_hp  }}</td>
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
